Django==4.1.1
django-environ==0.9.0
django-phonenumber-field==7.0.0
phonenumbers==8.12.54
Pillow==9.2.0
psycopg2-binary==2.9.3
pyTelegramBotAPI==4.7.0
django-import-export==2.9.0
celery==5.2.7
redis==4.3.4
django-admin-rangefilter==0.9.0
djangorestframework==3.14.0
django-celery-beat==2.4.0